---
const topCards = [
	{
		label: "Fundamentals",
		href: "/fundamentals/",
		description: "How Cloudflare works and how to get started.",
	},
	{
		label: "Docs directory",
		href: "/products/",
		description: "How to use specific Cloudflare products.",
	},
	{
		label: "Learning paths",
		href: "/learning-paths/",
		description: "Step-by-step walkthroughs on a variety of concepts.",
	},
	{
		label: "Reference architectures",
		href: "/reference-architecture/",
		description: "How our products are designed and architected.",
	},
];
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
	{
		topCards.map((card) => (
			<a
				href={card.href}
				class="rounded-md border border-solid border-gray-200 p-6 !text-inherit no-underline hover:bg-gray-50 dark:border-gray-700 dark:hover:bg-gray-800"
			>
				<p class="!mt-0 font-semibold">{card.label}</p>
				<div class="leading-2 !mt-1 text-sm">{card.description}</div>
			</a>
		))
	}
</div>
